
.calBox {
    position:fixed;
    z-index: 100;
    top:250px;
    left:1vw;
    width: 300px;
    height: auto;
    margin: 0px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #2a875726;
    background-color:#ffffff49;
}
.calBox:hover{border: 3px solid #2A8757; background-color:#ffffff;}

#toggleCalBox{
    position:fixed;
    z-index: 100;
    top:200px;
    left:1vw;
    width:60px; height:56px; color:#fff; font-size: 24px; border:1px solid #999; border-radius: 50%; box-shadow: 3px 8px 20px -10px #333; background-color: #1d9c47;}
td {
    width: 20px;
    height: 20px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
}

.Calendar>tbody>tr>td>a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 2.5px;
    border-radius: 45px;
    transition-duration: .2s;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:#333;
    line-height: 27px;
    text-align: center;
}

.pastDay {
    color: lightgray;
}

.today {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    color: #2a8757;
    border:2px solid #2a8757;
    background-color: #fff;
}

.futureDay {
    cursor: pointer;
    background-color: #ffffff41;
}
.futureDay:hover {
    background: #eee;
}
.futureDay.choiceDay,
.today.choiceDay {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    background-color: #2a8757;
}
