<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/team/css/reset.css" rel="stylesheet">
    <link href="/team/css/header.css" rel="stylesheet">
    <link href="/team/css/teamlist.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/team/css/all.min.css" rel="stylesheet">
    <title>쏜살</title>

</head>

<body>

<div id="wrap">

    <header id="headBox">
        <div class="logoBox"><h1><a href="#"></a></h1></div>
        <div class="navBox">
            <ul class="nav">
                <li><a href="#">Game</a></li>
                <li><a href="#">Rank</a></li>
                <li><a href="#">All Team</a></li>
                <li><a href="#">My Team</a></li>
                <li><a href="#">My Page</a></li>
            </ul>
        </div>
        <div class="logInBt">
            <button>Login</button>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <form action="/teams/search" method="get" class="input-group mt-3 listsearch">
                    <input type="search" class="form-control rounded Sbar" placeholder="팀명을 입력하세요" aria-label="Search"
                           name="keyword" aria-describedby="search-addon"/>
                    <button type="button" class="btn searchbtn"><i class="fa-solid fa-magnifying-glass fs-4"></i>
                    </button>
                </form>
            </div>
            <div class="col-12 col-lg-6"><!-- 영역을 가르기위한 빈칸 --></div>
        </div>
    </div>

    <div class="container mt-3">
        <a href="/teams" class="gobtn">모든 팀 보기</a>
        <a href="/teams/recruit" class="gobtn">팀원 모집 중</a>
        <a th:if="${userlevel == T(com.ssonsal.football.team.entity.Role).USER}" href="/teams/form" class="createTeam">팀 생성하기</a>
        <span th:if="${userlevel == T(com.ssonsal.football.team.entity.Role).TEAM_APPLY}" class="applyexists">가입 신청중</span>
        <a th:if="${userlevel == T(com.ssonsal.football.team.entity.Role).GUEST}" href="/login" class="createTeam">팀 생성하기</a>
    </div>

    <div class="container mt-5">
        <div class="listsheader"><p><img src="/image/ball.png"/></p>
            <p><span>팀명</span><span>팀 연령대</span><span>실력점수</span><span>선호지역</span><span style="width: 12%;">랭킹</span>
            </p></div>
    </div>
    <div class="container mt-5">
        <ul class="teamlist">
            <li class="lists" th:each="teams: ${teams}"><p></p>
                <p style="width:25px;"></p><a th:href="@{'/teams/' + ${teams.id}}"><span th:text="${teams.name}"></span><span
                        th:text="${teams.AgeAverage}"></span> <span th:if="${teams.skillScore == -1.0}"
                                                                       th:text="'기록없음'"></span>
                    <span th:unless="${teams.skillScore == -1.0}" th:text="${teams.skillScore}"></span><span
                            th:text="${teams.preferredArea}"></span> <span style="width:12%;"
                                                                           th:if="${teams.ranking == 0}"
                                                                           th:text="'기록 없음'"></span>
                    <span style="width:12%;" th:unless="${teams.ranking == 0}" th:text="${teams.ranking}"></span></a>
            </li>
        </ul>
    </div>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>