@charset "UTF-8";

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{box-sizing: border-box; font-weight: bold; font-family: 'NanumSquareNeo-Variable';}
#wrap{width:100%;height:auto;}

header{display:flex; width:100%; height:80px; padding:0 6vw; margin:auto; background-color: #2A8757;}
header > .logoBox{width:10vw;}
header > .navBox{width:80vw;}
header > .logInBt{width:8dvw;}

.logoBox>h1{width:100%; height:100%; background-image: url("../img/logo2.svg"); background-repeat: no-repeat; background-size:180px; background-position: 50% 50%;}
.logoBox>h1>a{width:100%; height:100%; }
header > div{float:left;}
header > div > ul{display:flex; height:100%; align-items: center; justify-content: space-around;}
header > div > ul > li > a{font-size: 20px; color:#fff; font-weight: normal;}
header > div > ul > li > a:hover{color:#fff;}

.logInBt{width:30px; height:100%;} 
.logInBt > button{ margin:0 auto;width:100%; height:30px; color:#2A8757; box-shadow:0 2px 2px 0 #888; margin-top:25px; border-radius: 3px; background-color: #fff;}

